ul{
    list-style: none;
    vertical-align: middle;
    margin: 5;
    padding: 0;
}

.active{
    background-color: blue;
    color: white;
}

li{
    display: inline;
    padding: 0px;
    padding-left: 70px;
    margin: 0;

    
}
nav{
    border-bottom: solid 1px green;
}
