.container{
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-template-rows: 30px 170px ;
    grid-template-areas:
     "header header"
     "side content";
    border:solid 1px;
    border-color: aliceblue;
    border-radius: 20px;
    background-color: bisque;
    width: 500px;
    margin: auto;
    margin-top: 10px;
    overflow: hidden;
}


.header{
    grid-area: header;
    background-color: lightgrey;
    text-align: left;
    padding:  5px 20px;
}
.label{
    padding: 20px 20px;
    text-align: left;
    padding-left: 10px;
    font-size: large;
    font-weight:bold ;
}
.sideBar{
    grid-area: side;
    position: relative;
    background-color: rgb(224, 183, 208);
    position: relative;
    
}
.avatar{
    height: 120px;
    width:120px;
    border-radius :50%;
    position: absolute;
    top: 50%;  
    left: 0; 
    -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.submit{
    width: 300px;
    height: 30px;
    background-color:#caf7e3;
    border-radius: 5px;
}

